html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background-color: white;
	font-family: Pt Sans, sans-serif;
	font-size: 16px;
	padding-left: 0;
	padding-top: 30px;
	margin: auto;

	transition: padding-top .5s ease;
}

/*** NAV ***/

.nav {
	position: fixed;
	z-index: 1000;
	width: 100%;
	background-color: white;
	text-align: left;
	top: 0;
}
	.nav a {
		text-decoration: none;
	}

	.logo {
		float:left;
		witdh:80px;
		height:100px;
	}

	.sub-nav, .main-nav {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.sub-nav{
		font-size: 20px;
		float: right;
	}

		.sub-nav li {
			background-color: #e5e5e5;
			margin: 10px;
		}
		.sub-nav a {
			color: black;
		}
		.search {
			border: 0;
			background-color: #e5e5e5;
		}

	.main-nav{
		font-size: 30px;
		text-align: center;
		clear: both;
	}

		.main-nav li {
			display: inline-block;
			background-color: #fff100;
			font-family: Pt Sans, sans-serif;
			margin: 20px;
		}
		.main-nav a {
			color: black;

			    position: relative;
			    left: 20px;
		}


.whatever {
	color: #FFF;
	transition: all .5s ease;
}

.whatever:hover {
	color: #DDD;
}

/*** TYPOGRAPHY ***/

h1{
	font-size: 40px;
	color: #fff;
	line-height: 230px;
	text-transform: uppercase;
	font-weight: 100;
}


h1{
	font-size: 40px;
	color: #fff;
	line-height: 230px;
	text-transform: uppercase;
	font-weight: 100;
}



h2{
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 2;
	color: yellow;
}

p{
	margin-bottom: 2rem;
	line-height: 2;
	color: #7f8c8d;
}

/*** LAYOUT ***/

.wrapper{
	width: 1200px;
	margin: 0 auto;
	font-family: Pt Sans, sans-serif;
	padding: auto;
}


.footer{
	width: 1200px:
	margin: 300px;
	font-family: Pt Sans, sans-serif;
	padding left: 100px;

}

section{
	padding: 20px;
	margin-bottom: 40px;
	font-family: Pt Sans, sans-serif;
	background-color: #fff;
	opacity: 40%;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(0,0,0,.2);
}


/*** SUBMIT ***/

.newletter{
	font-size: 25px;
	text-transform: uppercase;
	font-family: Pt Sans, sans-serif;
	font-weight: 100;
	line-height: 2;
	color: yellow;
	padding-left: 10px;
	margin-left: 500px;
}

/*** ARTICLE ***/


/*** HOME ***/

@media screen and (min-width: 980px)  {
and (min-device-width: 1200px)
 and (max-device-width: 1600px)
 and (-webkit-min-device-pixel-ratio: 1)
  }
}

@media screen  and (max-width: 979px) {
		and (min-device-width: 768px)
		(max-device-width: 1024px) 
		{ (-webkit-min-device-pixel-ratio: 2)
  }
}

@media screen and (max-width: 500px)
    background: green;
		and (min-device-width: 320px)
 		and (max-device-width: 568px)
 		and (-webkit-min-device-pixel-ratio: 2)
  }
}
