


  .madlibs {
    background-color: pink;
    height:200%;
    width:50%;
    font-family: 'helvetica', sans-serif;
    font-size:16px;
    margin: auto;
    padding: 5%;
    color:white;

  }
  .story {
    color: yellow;

  }
