#box {
  width: 100px;
  height: 100px;
  background-color: red;
  transition: 1s all;
}

#box:hover {
  background: green;
}

#box.circle {
  background: pink;
  width: 600px;
  height: 600px;
  border-radius: 300px;

}
